﻿<form [ngFormModel]="addCarDetailsForm" (ngSubmit)="onSubmit(addCarDetailsForm.value)">
    <div>
        <label for="photo">Photo</label>
        <input type="text"
               id="photo"
               [ngFormControl]="addCarDetailsForm.controls['photo']"
               #photo="ngForm">
        <span *ngIf="!photo.valid">Not Valid</span>
    </div>
    <div>
        <label for="make">Make</label>
        <input type="text"
               id="make"
               [ngFormControl]="addCarDetailsForm.controls['make']"
               #make="ngForm">
        <span *ngIf="!make.valid">Not Valid</span>
    </div>
    <div>
        <label for="model">Model</label>
        <input type="text"
               id="model"
               [ngFormControl]="addCarDetailsForm.controls['model']"
               #model="ngForm">
        <span *ngIf="!model.valid">Not Valid</span>
    </div>
    <div>
        <label for="year">Year</label>
        <input type="text"
               id="year"
               [ngFormControl]="addCarDetailsForm.controls['year']"
               #year="ngForm">
        <span *ngIf="!year.valid">Not Valid</span>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text"
               id="price"
               [ngFormControl]="addCarDetailsForm.controls['price']"
               #price="ngForm">
        <span *ngIf="!price.valid">Not Valid</span>
    </div>
    <div>
        <label for="dealerEmail">Dealer Email</label>
        <input type="text"
               id="dealer-email"
               [ngFormControl]="addCarDetailsForm.controls['dealerEmail']"
               #dealerEmail="ngForm">
        <span *ngIf="!dealerEmail.valid">Not Valid</span>
    </div>
    <div>
        <label for="dealerName">Dealer Name</label>
        <input type="text"
               id="dealer-name"
               [ngFormControl]="addCarDetailsForm.controls['dealerName']"
               #dealerName="ngForm">
        <span *ngIf="!dealerName.valid">Not Valid</span>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text"
               id="phone"
               [ngFormControl]="addCarDetailsForm.controls['phone']"
               #phone="ngForm">
        <span *ngIf="!phone.valid">Not Valid</span>
    </div>
    <div>
        <label for="abn">ABN</label>
        <input type="text"
               id="abn"
               [ngFormControl]="addCarDetailsForm.controls['abn']"
               #abn="ngForm">
        <span *ngIf="!abn.valid">Not Valid</span>
    </div>
    <div>
        <label for="vehicleDescription">Vehicle Description</label>
        <input type="text"
               id="vehicle-description"
               [ngFormControl]="addCarDetailsForm.controls['vehicleDescription']"
               #vehicleDescription="ngForm">
        <span *ngIf="!vehicleDescription.valid">Not Valid</span>
    </div>
    <button type="submit" [disabled]="!addCarDetailsForm.valid" class="ui button">Create Car</button>
</form>-->