﻿<ul>
    <li *ngFor="#car of cars">
        {{car.year}} {{car.make}} {{car.model}}, {{car.price | currency:'AUD':true:'1.2-2' }}
        <input *ngIf="dealer" (click)="onSelect(car)" type="submit" value="Edit">
        <router-outlet></router-outlet>
    </li>
</ul>