﻿<form [ngFormModel]="viewCarDetailsForm" (ngSubmit)="onSubmit(viewCarDetailsForm.value)">
    <div>
        <label for="id">Id</label>
        <input type="text"
               id="id"
               [ngFormControl]="viewCarDetailsForm.controls['id']"
               *ngIf="dealer"
               [readonly]="true">
    </div>
    <div>
        <label for="photo">Photo</label>
        <input type="text"
               id="photo"
               [ngFormControl]="viewCarDetailsForm.controls['photo']"
               #photo="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!photo.valid">Not Valid</span>
    </div>
    <div>
        <label for="make">Make</label>
        <input type="text"
               id="make"
               [ngFormControl]="viewCarDetailsForm.controls['make']"
               #make="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!make.valid">Not Valid</span>
    </div>
    <div>
        <label for="model">Model</label>
        <input type="text"
               id="model"
               [ngFormControl]="viewCarDetailsForm.controls['model']"
               #model="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!model.valid">Not Valid</span>
    </div>
    <div>
        <label for="year">Year</label>
        <input type="text"
               id="year"
               [ngFormControl]="viewCarDetailsForm.controls['year']"
               #year="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!year.valid">Not Valid</span>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text"
               id="price"
               [ngFormControl]="viewCarDetailsForm.controls['price']"
               #price="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!price.valid">Not Valid</span>
    </div>
    <div>
        <label for="dealerEmail">Dealer Email</label>
        <input type="text"
               id="dealer-email"
               [ngFormControl]="viewCarDetailsForm.controls['dealerEmail']"
               #dealerEmail="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!dealerEmail.valid">Not Valid</span>
    </div>
    <div>
        <label for="dealerName">Dealer Name</label>
        <input type="text"
               id="dealer-name"
               [ngFormControl]="viewCarDetailsForm.controls['dealerName']"
               #dealerName="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!dealerName.valid">Not Valid</span>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text"
               id="phone"
               [ngFormControl]="viewCarDetailsForm.controls['phone']"
               #phone="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!phone.valid">Not Valid</span>
    </div>
    <div>
        <label for="abn">ABN</label>
        <input type="text"
               id="abn"
               [ngFormControl]="viewCarDetailsForm.controls['abn']"
               #abn="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!abn.valid">Not Valid</span>
    </div>
    <div>
        <label for="vehicleDescription">Vehicle Description</label>
        <input type="text"
               id="vehicle-description"
               [ngFormControl]="viewCarDetailsForm.controls['vehicleDescription']"
               #vehicleDescription="ngForm"
               [readonly]="!dealer">
        <span *ngIf="!vehicleDescription.valid">Not Valid</span>
    </div>
    <button type="submit" *ngIf="dealer" [disabled]="!viewCarDetailsForm.valid" class="ui button">Update Car</button>
</form>-->