﻿@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/ng2/es6-shim.js"></script>
    <script src="~/lib/ng2/system-polyfills.js"></script>
    <script src="~/lib/ng2/angular2-polyfills.js"></script>
    <script src="~/lib/ng2/system.src.js"></script>
    <script src="~/lib/ng2/Rx.js"></script>
    <script src="~/lib/ng2/angular2.dev.js"></script>
    <script src="~/lib/ng2/http.dev.js"></script>
    <script src="~/lib/ng2/router.dev.js"></script>

    <script>
        System.config({
            map: {
                app: "/app"
            },
            packages: {
                app: {
                    defaultExtensions: "js"
                }
            }
        });

        // System.import("/app/main")
        System.import("/app/app.component")
        .then(null, console.error.bind(console))
    </script>
    <environment names="Production">
        <script>
            angular.enableProdMode();
        </script>
    </environment>
}
<base href="/">
<my-app><i class="fade fa-spin fa-circle-o-notch"></i> Loading...</my-app>